@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

html, body {
    height: 100vh;
    font-family: 'Crimson Text', serif;
    font-size: 1.1rem;

    @import "header";
    @import "document";
    @import "footer";
}