.inkpot {
  text-align: center;
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
}

.inkpot-logo {
  height: 20%;
}

.inkpot-header {
  height: 20%;
  padding: 3%;
  color: rgba(255, 255, 255, 0.322);
}

.inkpot-content {
  height: 60%;
}

.inkpot-footer {
  background-color: #222;
  padding-top: 1%;
  padding-bottom: 3%;
  bottom: 0;
  margin-bottom: 0;
  height: 20%;
}

.inkpot-info {
  font-size: 0.7em;
}

.inkpot-intro {
  font-size: large;
}
